@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #fee5ef;
}

header {
    background-image: linear-gradient(to right, #F867A5, #FD73AE);
    color: #FFECF3;
    text-transform: uppercase;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header #titles-area #title-2 {
    display: flex;
    justify-content: center;
}

header #titles-area h1 {
    font-size: 50px;
}

header #titles-area h2 {
    font-size: 30px;
}

.section-area {
    width: 100%;
}

main {
    width: 100%;
}

main #banner {
    background-image: linear-gradient(to right, #F4539F, #FA5FA9);
    height: 350px;
}

#banner #banner-area {
    width: 100%;
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: inherit;
    overflow: hidden;
}

#banner #img-banner {
    width: 350px;
    margin-top: 30px;
}

#banner img {
    width: 100%;
    transition-duration: .5s;
}

#banner:hover img {
    transform: scale(1.05);
}

@keyframes animacao {
    0% {transform: translateY(20%);}
    25% {transform: translateY(-2%);}
    40% {transform: translateY(-28%);}
    50% {transform: translateY(-28%);}
    65% {transform: translateY(-52%);}
    70% {transform: translateY(-52%);}
    80% {transform: translateY(-77%);}
    85% {transform: translateY(-77%);}
    100% {transform: translateY(-100%);}
}

#banner #container-frases {
    height: 5.6em;
    overflow: hidden;
}

#banner #frases-area {
    margin: auto;
    animation: animacao 6s infinite ;
}

#banner #frases-area div {
    font-size: 2.4em; 
    color: #FDEBF3;
    font-weight: bold;
    margin-bottom: 42px;
    text-align: center;
}

main #info {
    background-color: #fee5ef;
}

#info #infos {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quebra {
    display: none;
}

#infos h2 {
    color: #EC3283;
    text-transform: uppercase;
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

#infos #container-box {
    display: grid;
    grid-template-areas: 
        'box-1 box-2'
        'box-3 box-4'
    ;
    grid-gap: 10px;
    margin: 0 10px;
}

#container-box .box-info {
    width: 100%;
    max-width: 400px;
    height: 100%;
    min-height: 260px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.150);
}

#box-1 {
    background-color: #f8c0ca;
    grid-area: box-1;
}

#box-2 {
    background-color: #F2AEC1;
    grid-area: box-2;
}

#box-3 {
    background-color: #F288AF;
    grid-area: box-3;
}

#box-4 {
    background-color: #eb7aae;
    grid-area: box-4;
}

#box-1 h3,
#box-2 h3 {
    color: white;
}

#box-1 p,
#box-2 p {
    color: #FDEBF3;
}

#box-3 h3,
#box-4 h3 {
    color: white;
}

#box-3 p,
#box-4 p {
    color: #FDEBF3;
}

#infos h3 {
    margin-bottom: 15px;
    font-size: 24px;
    text-decoration: underline;
}

#infos p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.3em;
    width: 100%;
}

#info #links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#links .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 45px 10px;
    width: 150px;
    height: 80px;
    background-color: #F94E9E;
    border-radius: 12px;
    transition-duration: .2s;
}

#links a {
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #FDEBF3;
    text-align: center;
}

#links .link:hover {
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.200);
    transform: scale(1.02);
    background-color: #f560a5;
}

#info #mensagem-area {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #EC3283;
    margin: 40px 0;
}


@media (max-width: 650px) {
    #infos #container-box {
    display: flex;
    flex-direction: column;
    }

}

@media (max-width: 420px) {
    header #titles-area h1 {
        font-size: 40px;
    }

    header #titles-area h2 {
        font-size: 25px;
    }

    #banner #img-banner {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    #img-banner img {
        width: 150px;
    }

    #banner #banner-area {
        flex-direction: column;
    }

    #banner #frases-area div {
        font-size: 1.5em;
    }

    #links .link {
        margin: 5px;
    }

    #links a {
        font-size: 14px;
    }
}

@media (max-width: 330px) {
    header #titles-area h1 {
        font-size: 30px;
    }

    header #titles-area h2 {
        font-size: 15px;
    }
    
    @keyframes animacao {
    0% {transform: translatex(50%);}
    25% {transform: translatex(41.5%);}
    40% {transform: translatex(16%);}
    50% {transform: translatex(16%);}
    65% {transform: translatex(-9%);}
    70% {transform: translatex(-9%);}
    80% {transform: translatex(-33.5%);}
    85% {transform: translatex(-33.5%);}
    100% {transform: translatex(-46%);}
    }
    
    #banner #frases-area {
        display: flex;
        flex-direction: row;
        animation: animacao 6s infinite;
        transform: translateX(-46%);
    }
    
    .quebra {
        display: flex;
    }

    #banner #frases-area div {
        margin-right: 180px;
        width: 400px;
        font-size: 1.3em;
    }

    #info #links {
        flex-direction: column;
    }

    #links .link {
        width: 250px;
    }

    .link a {
        font-size: 20px;
    }
}
